@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica-Normal.ttf");
}
body {
    font-family: 'Helvetica';
}
.wrapper-search {
    align-items: center;
    height: 100%;
    position: relative;
}

.search-button {
    z-index: 2;
    background-color: #f1f3f4;
    border-right: none;
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #f1f3f4;
    border-left: 1px solid #f1f3f4;
    min-height: 46px;
    border-radius: 8px 0 0 8px;
}

.search {
    min-height: 46px;
    border-radius: 0 8px 8px 0;
    border-right: 1px solid #f1f3f4;
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #f1f3f4;
    border-left: none;
    background-color: #f1f3f4;
}

.search:focus {
    outline-color: transparent;
}

.icon-size {
    font-size: 20px;
    margin: 0px 10px;
}

.nav-header {
    display: grid;
    grid-template-columns: 20% 1fr 25%;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #cecece;
}

.nav-icon {
    display: grid;
    grid-template-columns: 25% 1fr;
}

.config {
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    align-content: center;
    justify-items: center;
}

.user {
    font-size: 25px;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    grid-template-columns: 50% 1fr;
}

.fa {
    font-size: 18px;
}

.user-login {
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.20);
    cursor: pointer;
    grid-template-columns: 70% 1fr;
}

.icon-option {
    display: grid;
    width: 100%;
    justify-items: end;
    padding-right: 20px;
}

.user-name {
    font-size: 16px;
    text-align: center;
}

.img-user {
    border-radius: 50%;
}

.add-button {
    font-size: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.20);
    margin: .7rem;
    border-radius: 30px;
    align-items: center;
    display: flex;
    padding: .4rem 1.5rem .4rem .7rem;
}
.justify-table {
    margin: .25rem .25rem .25rem 0;
}
.add {
    font-size: 16px;
    font-weight: 500;
    margin-top: .2rem;
}

.main {
    display: grid;
    grid-template-columns: 20% 1fr;
}

.wrapper-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-gap: 15px;
}

.caret-before:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    position: absolute;
    left: 7px;
}

.lists {
    margin: 0 .5rem 0 auto;
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: .5rem;
    font-size: 14px;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.lists:hover {
    background-color: #eeeeee;
    border-radius: 0 20px 20px 0;
}

.lists:first-child {
    background-color: #e8f0fe;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.lists i {
    justify-items: center;
    display: grid;
}

.sub-menu {
    width: 100%;
}

.button-add {
    padding: .5rem;
    border-bottom: 1px solid #cecece;
    display: grid;
    grid-template-columns: 1fr 5% 5%;
    align-items: center;
}

.button-left {
    width: 15%;
}

.grid-1 {
    padding: .5rem;
}

.border-radius {
    border-radius: .4rem;
}

.card {
    border-radius: .4rem;
}

.progress {
    height: .3rem;
    width: 100%;
}

.storage {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
}

.list-options {
    border-bottom: 1px solid #cecece;
}
.w-100 {
    width: 100%;
}